body{
  background-image: linear-gradient(to right, #025370, #7bcbe8);
}

.con{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
}

.list {
  color: black;
}

.userInput {
  color: black;
}